.footer__column-link_type_vk{
  padding: 0 0 0 25px;
  background-image: url('../../../../images/vk_color_white.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
  list-style-type: none;
}
