
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
  border: 1px solid gray;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: #f2f2f2;
  position: relative;
  border: 1px solid gray;
}

.logo_place_header{
  position: absolute;
  top: 30px;
  left: 75px;
  z-index: 4;
}

.flex-row{
  display: flex;
}

.flex-row_title{
  position: relative;
  z-index: 3;
  margin-left: 64px;
  height: 756px;
  display: flex;
}

.flex-row_title_text{
  margin: auto 0;
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.flex-row_image_header-image{
  position: absolute;
  right: 0;
  bottom: -10px;
  z-index: 2
}

.flex-row_bg{
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 1
}

.flex-row_bg_background{
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
}

.flex-row_subtitle_sub{
position: absolute;
left: 64px;
bottom: 30px;
}

.flex-row_subtitle_sub_text{
font-size: 18px;
line-height: 25px;
font-weight: normal;
}

.flex-row_link{
  display: inline-block;
  width: 89px;
  color: #2f80ed;
  text-decoration: none;
  background-image: url('C:/Users/sergey.pavlov/dev/first-project/how-to-learn/images/3.bmp'); 
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.content{
  border: 1px solid gray;
}
.description{
  margin: 100px 0 0 0;
}

.two-columns{
  border: 1px solid grey;
  display: flex;
  flex-direction: flex-row;
  justify-content: space-evenly;
}

.two-columns_brief{
  display: flex;
  flex-direction: row;
}

.two-columns_brief_text_title{
  margin: 30px 0 0 0;
  font-weight: normal;
  font-size: 18px;
  color: #2f80ed;
}

.two-columns_main-text{
  display: flex;
  flex-direction: column;
  width: 1100px;
  line-height: 34px;
  font-size: 24px;
}

.two-columns_main-text_text2__bold{
  font-weight: 700;
}

.digits{

}

.digits-body{
  margin: 100px 0;
  border: 1px solid gray;
}

.digits_dody_title{
  margin: 0 auto;
  text-align: center;
  width: 60%;
}

.digits_body_title_text{
line-height: 1.15;
font-size: 60px;
font-weight: 700;
}

.digits_body_subtitle{
  margin: 0 auto;
  text-align: center;
  margin-top: 20px;
  width: 60%;
}

.digits_body_subtitle_text{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table{
  width: 1100px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 2
}

.table_cell{
margin-top: 60px;
width: 250px
}

.table_cell_heading{
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
}

.table_cell_text{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman{
  height: 935px;
  border: 1px solid gray;
  background-color: #f2f2f2;
  background-image: url('C:/Users/sergey.pavlov/dev/first-project/how-to-learn/images/1.png');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  position: relative;
}

.feynman_title{
  width: 648px;
  max-height: 400px;
  padding-top: 100px;
  margin: auto;
  padding-bottom: 0; 
}

.feynman_title__text{
  text-align: center;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
}

.feynman_subtitle{
  margin: 70px auto;
  text-align: center;
  width: 400px;
}

.feynman_subtitle__text{
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman_link{
  background-image: url('C:/Users/sergey.pavlov/dev/first-project/how-to-learn/images/2.bmp');
  background-repeat: no-repeat;
  width: 270px;
  height: 50px;
  background-position: 85% 50%;
  position: absolute;
  top: 490px;
  right: 0;
}

.feynman_link__text{
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  color: #2f80ed;
}

.kaufman{
  background-color: #1f1f1f;
  color: #fff;
  overflow: hidden;
  position: relative;
}

.kaufman_space{
  height: 90px
}

.kaufman_body{
}

.section-title_theme_dark{
  margin: 0 auto;
  width: 60%;
  text-align: center;
}

.section-title__text_theme_dark{
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle_theme_dark{
  margin: 20px auto;
  text-align: center;
  width: 60%;

}

.section-subtitle__text_theme_dark{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.kaufman_triangle{
  position: absolute;
  top: 0;
  right: -210px;
}

.table_theme_dark{
  width: 1200px;
}

.table__cell_theme_dark{
  width: 200px;
  margin-top: 80px;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.footer{
  background-color: #1f1f1f;
  color: #fff;
  border: 1px solid gray;
}

.footer_space{
  height: 60px;
  border: 1px solid gray;
}

.footer__columns{
  display: flex;
  flex-basis: 711px;
  width: 90%;
  height: 250px;
  margin: auto;
  justify-content: space-between;
}

.footer__column_content_copyright{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column{
  display: flex;
}

.footer__column_content_social{
  display: flex;
  flex-direction: column;
}

.footer__link4{
  display: inline-block;
  width: 110px;
  padding: 0 0 0 25px;
  background-image: url('C:/Users/sergey.pavlov/dev/first-project/how-to-learn/images/facebook_color_white.svg');
  background-repeat: no-repeat;
  background-position: 0 50%;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__link5{
  display: inline-block;
  width: 110px;
  padding: 0 0 0 25px;
  background-image: url('C:/Users/sergey.pavlov/dev/first-project/how-to-learn/images/vk_color_white.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}
.footer__link6{
  display: inline-block;
  width: 110px;
  padding: 0 0 0 25px;
  background-image: url('C:/Users/sergey.pavlov/dev/first-project/how-to-learn/images/instagram_color_white.svg');
  background-position: 0 50%;
  background-repeat: no-repeat;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer__column-links_type_link{
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: #fff;
  text-decoration: none;
}

.footer_space2{
  height: 40px;
  margin: auto;
  background-color: #1f1f1f;
  max-width: 1600px;
  border: 1px solid gray;
}









